.internal
build
.externalToolBuilders
.DS_Store
Thumbs.db
.lock-wscript
*.pyc
.project
.cproject
builtins
.luacheckcache
node_modules/
bob.jar
.firebaserc
package-lock.json
yarn.lock
.firebase
*.log
/haxe/bin
bin
.idea/workspace.xml